input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #000000; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical  
}
  
 
button[type=submit] {
    background-color: #FF4B4B;
    color: white;
    padding: 12px 48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  